main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-right: 50px;
}

main p {
    color: black;
    text-shadow: none;
}

.cart {
    position: relative;
    left: 50px;
    width: 1000px;
}

.contactsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    padding: 20px;
    color: #1c1c1c;
    border: .0625rem solid rgba(0, 0, 0, .08);
    height: 260px;
}

.contactsMenu h2 {
    text-align: center; /* Центрируем заголовки */
    margin-bottom: 15px; /* Добавляем небольшой отступ снизу */
}

.contactsMenu p {
    font-size: 20px; /* Размер шрифта */
    margin-bottom: 10px; /* Добавляем отступ снизу */
}

.contactsMenu input[type="radio"] {
    margin-bottom: 10px; /* Добавляем отступ между радио кнопками */
}

.contactsMenu button {
    align-self: end;
    margin-top: 40px; /* Добавляем отступ над кнопкой */
    width: 100%; /* Занимаем всю доступную ширину */
    background-color: #3B3C36; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    padding: 10px; /* Добавляем внутренние отступы */
    border-radius: 10px; /* Закругляем углы */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    font-size: 24px;
    font-family: 'Noto Sans';
}

.contactsMenu button:hover {
    background-color: #1c1c1c; /* Изменяем цвет фона при наведении */
    color: white;
}

#text2 {
    font-weight: 600;
    font-size: 18px;
    color: #1c1c1c;
    border: none;
}

.textInput input {
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    background: #EFB19C;
    border: rgb(128, 128, 128);
    height: 30px;
    width: 340px;
}

.oneGood {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: .0625rem solid rgba(0, 0, 0, .08);
    border-top: .0625rem solid rgba(0, 0, 0, .08);
    margin-bottom: 50px;
}

.card {
    color: black;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    justify-items: center;
    align-items: center;
}
.card-brand {
    font-weight: 600;
    margin-bottom: 5px;
}
.card-name {
    margin-top: 5px;
    font-weight: 400;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card img {
    max-width: 151px;
    height: 218px;
}

.card a {
    color: black;
    text-decoration: none;
}

.remove-btn:hover {
    cursor: pointer;
}
.remove-btn {
    background: white;
    /* border-radius: 100%; */
    margin-left: 10px;
    padding: 0;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.shineButton {
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border: 2px solid #F02C6E;
    border-radius: 8px;
    font-size: 25px;
    color: #F02C6E;
    transition: .2s ease-in-out;
}

/*.shineButton:before {*/
/*    content: "";*/
/*    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: -1%;*/
/*    left: -100%;*/
/*    transform: skewX(-45deg);*/
/*}*/

.shineButton:hover {
    background: white;
    color: black;
}

.shineButton:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

/*--------------------------------------------------------------------*/
/* Стили для модального окна */
.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Стили для кнопки закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.remove-btn {
    align-self: center;
    background-image: url('/static/images/urna.png');
    background-size: 75%; /* Растягивает изображение на всю кнопку */
    background-repeat: no-repeat;
    background-position: center;
}


.cart-main {
    padding-top: 20px;
    column-gap: 60px;
    margin-right: 0px;
}
.cart {
    max-width: 65%;
}