<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap" rel="stylesheet">

    <link href = "/static/css/style2.css" rel = "stylesheet">
    <link href = "/static/css/style1.css" rel = "stylesheet">
    <title>Каталог</title>
</head>
<body>
<header>
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox"></input>
    <label class="burger" for="burger-checkbox"></label>
    <a href ="file:///D:/ркчир/пр1/index.html"><img src = "/static/images/android-chrome-512x512.png" width="64" height="64"></a>
    <nav class="header-nav">
        <ul class="header-left-nav">
            <li> <a href="/productcatalog">Каталог</a></li>
            <li> <a href="/account">Личный кабинет</a></li>
            <li> <a class="nav_link" href="#" onclick="submitForm()">Корзина</a></li>
        </ul>
    </nav>
</header>
<form id="myForm" th:action="@{/basketPost}" th:object="${amountsProduct}" th:method="POST" style="display: none;">
    <input id="inputItems" style="display: none;" readonly th:field="*{number}">
</form>

<main class="section">
    <section class="main-hello">
        <img class="main-img" src="/static/images/new.png">
        <div class="container-hello-text" style="margin-left: 35px; display: flex; flex-direction: column;">
            <p class="main-hello-text"> - проводник в мир мужской моды</p>
            <p class="text-main-hello">Стиль, качество и модные тренды – всё это в одном месте! У нас вы найдёте только качественные вещи от лучших брендов одежды.</p>
        </div>
    </section>
    <h4 class="section-title">Наши предложения</h4>
    <ul class="list-clothes">
        <li class="card" th:each="prod : ${productList}"><img th:src="@{'/static/images/' + ${prod.getId()} + '.webp'}" th:id="'img' + ${prod.getId()}">
            <p class="brand" th:text="${prod.getBrand()}" th:id="'brand' + ${prod.getId()}"></p>
            <p class="card-title" th:id="'title' + ${prod.getId()}" th:text="${prod.getName()}"></p>
            <div class="button-wrapper">
                <p class="price price-katalog" th:id="'info' + ${prod.getId()}" th:text="${prod.getProductPrice() + ',00 ₽'}"></p>
                <div class="wrap-but">
                    <button class="buyBut" id="buyButton" th:attr="onclick=|addBasket('${prod.getId()}')|" style="width: 40px; height: 40px; display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-decoration: none;
                                    border: none;
                                    background-color: transparent; border-radius: 10px; cursor: pointer;"><img class="shop-button" src="/static/images/shop.png" alt="" style=" width: 25px; height: 25px; background: transparent; border: none;"></button>
                </div>
            </div>
        </li>
    </ul>
    <script src = "/static/js/functions.js"></script>
</main>
<<script>
    window.onload = function () {
        getAmount();
    };
    setInterval(fillBasket, 1000);
</script>

<footer class="registration-footer">
    <div class="container">
        <section class="footer-section">
            <h3>О нас</h3>
            <p>ManStyle - это лучший магазин одежды, где вы точно подберёте лучшый образ книгу и получите только положительные эмоции от обслуживания. Главная цель нашей команды - быть проводником в мир моды для всех желающих. </p>
            <div class="social-footer">
                <button class="button-tg" onclick="window.location.href = 'https://web.telegram.org/';">
                    <img src="/static/images/free-icon-telegram-2111708.png" width="16" height="16">
                </button>
                <button class="button-vk" onclick="window.location.href = 'https://vk.com/';">
                    <img src="/static/images/free-icon-vk-733639.png" width="16" height="16">
                </button>
                <button class="button-yt" onclick="window.location.href = 'https://www.youtube.com/';">
                    <img src="/static/images/free-icon-youtube-2111795.png" width="16" height="16">
                </button>
            </div>
        </section>
        <section class="footer-section">
            <h3>Мой ManStyle</h3>
            <ul class="footer-list">
                <li><a href="registration.html">Каталог</a></li>
                <li><a href="aboutUs.html">Личный кабинет</a></li>
                <li><a href="aboutUs.html">Корзина</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h3>Связаться с нами</h3>
            <ul class="footer-list">
                <li>
                    <img src="/static/images/telephone-handle-silhouette.png" alt="" class="connect-img">
                    <a href="tel:01234567890">+7 (918) 777-77-77</a><br><!--Ссылка на номер телефона-->
                </li>
                <li>
                    <img src="/static/images/envelope.png" alt="" class="connect-img">
                    <a href="mailto:sendemail@mail.ru?subject=Новый заказ&body=Здравствуйте, я хочу сделать заказ в вашем магазине.">ManStyle@mail.ru</a><!--Ссылка на эл. почту-->
                </li>
                <li>
                    <p class="myName">Меликфашян Г.А ИКБО-20-22</p>
                </li>
            </ul>
        </section>
        <p><small>© 2023 ManStyle. Магазин одежды</small></p>
    </div>
</footer>


</body>
</html>